
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int numeroRecord = (int)ViewBag.NumeroRecord; //es 125
    int numeroPerPagina = (int)ViewBag.NumeroPerPagina; // 20
    int numeroPagine = numeroRecord / numeroPerPagina + (numeroRecord%numeroPerPagina!=0 ? 1 : 0); // 125/20

    for(int i=1;i<numeroPagine;i++)
    {
        if (i != ViewBag.Pagina)
        {
            <a asp-action="Index" asp-controller="Films" asp-route-pagina="@i">@i</a>
        }
        else
        {
            <a>@i</a>
        }
    }
}