@{
    ViewBag.Title = "Conferma reimpostazione password";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Reimpostazione password completata. @Html.ActionLink("Fare clic qui per eseguire l'accesso", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
