@{
    ViewBag.Title = "Conferma password dimenticata";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Controllare la posta elettronica per reimpostare la password.
        </p>
    </div>
</main>
